# Server
PORT=5000
NODE_ENV=development

# MongoDB
# MONGODB_URI=mongodb://localhost:27017/real_estate_db
Mongo_uri=localhost:27017/real_estate_db
# JWT
JWT_SECRET=your_super_secret_jwt_key_change_this
JWT_EXPIRES=7d
JWT_COOKIE_EXPIRES_DAYS=7

# Refresh Token (future ready)
JWT_REFRESH_SECRET=your_super_secret_refresh_key_change_this
JWT_REFRESH_EXPIRES=30d

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# CORS
CLIENT_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001

# Rate Limit
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=200
